.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: auto;

  .DetailsModal {
    margin: 0;
    position: absolute;
    bottom: 3%;
    left: 21%;
    width: 35rem;
    color: white;
    line-height: 1.5rem;
    font-size: 1rem;
    border: 1px solid #bc8cff;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, rgb(27, 31, 87) 0%, rgb(76, 6, 78) 100%);
    animation: appear 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    .close {
      outline: none;
      background: none;
      border: none;
      transition: background 0.6s linear;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      margin-left: 1rem;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(231, 95, 199, 0.677) 0%,
          rgba(197, 80, 113, 0.755) 100%
        );
      }

      .img {
        width: 1rem;
        height: 1rem;
      }
    }

    .detailsText {
      margin: 0;

      .linkedinLink {
        text-decoration: none;
        color: rgb(248, 245, 72);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
