.canvas {
  background: black;
  background-size: cover;
  cursor: crosshair;
  height: 100%;
  width: 100%;
}

.canvasWrapper {
  flex-grow: 1;
  border: 1px solid #252a30;
}

@media screen and (max-width: 600px) {
  .canvasWrapper {
    margin: 0 0.6rem 0;
  }
}
