.Navbar {
  display: flex;
  flex-direction: column;
  background-color: #161b22;
  border: 1px solid #252a30;
  padding: 0.3rem;
  min-width: 350px;
  max-width: 350px;
}
.Navbar .randomGraphDiv {
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  background-color: #0e141b;
}
.Navbar .randomGraphDiv .sliderWrapper {
  display: flex;
  flex-direction: column;
  margin: 0.3rem 1rem;
}
.Navbar .randomGraphDiv .sliderWrapper .sliderTitle {
  color: #848d97;
  text-align: center;
  margin: 0.5rem;
}
.Navbar .randomGraphDiv .randomButton {
  margin: 1rem;
  font-size: 1.2rem;
  background: linear-gradient(
    29deg,
    rgba(156, 12, 179, 0.8729692560617998) 51%,
    rgba(160, 0, 255, 0.8785714969581583) 100%
  );
}
.Navbar .randomGraphDiv .randomButton:hover {
  background: linear-gradient(
    29deg,
    rgba(207, 26, 236, 0.7861345221682423) 51%,
    rgba(211, 48, 249, 0.8785714969581583) 100%
  );
}
.Navbar .runDiv {
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  background-color: #0e141b;
}
.Navbar .runDiv .setSpeed {
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
}
.Navbar .runDiv .setSpeed .setSpeedText {
  color: #848d97;
  text-align: center;
  padding: 0.5rem;
}
.Navbar .runDiv .setSpeed .setSpeedButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0.3rem;
}
.Navbar .runDiv .setSpeed .setSpeedButtons .speedButton {
  padding: 0.5rem 0.3rem;
  margin: 0.3rem;
  white-space: nowrap;
}
.Navbar .runDiv .setSpeed .setSpeedButtons button.active {
  background: rgb(157, 79, 223);
  background: linear-gradient(
    90deg,
    rgba(157, 79, 223, 0.7077031496) 0%,
    rgba(51, 179, 174, 0.7553221972) 100%
  );
}
.Navbar .runDiv .runButtons {
  display: flex;
  margin: 0.6rem;
}
.Navbar .runDiv .runButtons > * {
  flex-grow: 1;
}
.Navbar .runDiv .runButtons .runButton {
  font-size: 1.2rem;
  background: rgb(48, 231, 36);
  background: linear-gradient(
    29deg,
    rgba(48, 231, 36, 0.8169468470982143) 51%,
    rgba(82, 222, 33, 0.8701681356136204) 100%
  );
}
.Navbar .runDiv .runButtons .runButton:hover {
  background: rgb(53, 255, 40);
  background: linear-gradient(
    29deg,
    rgba(53, 255, 40, 0.8169468470982143) 51%,
    rgba(94, 255, 37, 0.8701681356136204) 100%
  );
}
.Navbar button {
  color: white;
  font-size: 1rem;
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  background: none;
  padding: 1rem;
  margin: 0.3rem;
  cursor: pointer;
  transition: background 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Navbar button:hover {
  background: linear-gradient(
    90deg,
    rgba(83, 9, 121, 0.2763306006) 0%,
    rgba(74, 0, 255, 0.2875350824) 100%
  );
}
.Navbar #clearCanvas {
  font-size: 1.2rem;
  background: rgb(233, 37, 43);
  background: linear-gradient(
    261deg,
    rgba(233, 37, 43, 0.8589636538209033) 51%,
    rgba(235, 35, 98, 0.7413165949973739) 100%
  );
}
.Navbar #clearCanvas:hover {
  background: rgb(255, 41, 48);
  background: linear-gradient(
    261deg,
    rgba(255, 41, 48, 0.8589636538209033) 51%,
    rgba(255, 31, 101, 0.7413165949973739) 100%
  );
}
.Navbar .savedGraphsDiv {
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.3rem;
  display: flex;
  flex-direction: column;
  background-color: #0e141b;
  height: 100%;
  overflow: hidden;
}
.Navbar .savedGraphsDiv #saveGraph {
  font-size: 1.2rem;
  margin: 0.6rem 0.6rem 0.3rem 0.6rem;
}
.Navbar .savedGraphsDiv .savedGraphsWrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.3rem 0.6rem 0.6rem 0.6rem;
  height: 100%;
  overflow: hidden;
}
.Navbar .savedGraphsDiv .savedGraphsWrapper .title {
  color: #848d97;
  padding: 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Navbar .savedGraphsDiv .savedGraphsWrapper .savedGraphs {
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  margin: 0.3rem;
  overflow: auto;
}
.Navbar .savedGraphsDiv .savedGraphsWrapper .savedGraphs .graphRecord {
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.Navbar
  .savedGraphsDiv
  .savedGraphsWrapper
  .savedGraphs
  .graphRecord
  .savedGraph {
  color: white;
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  flex: 1;
}
.Navbar
  .savedGraphsDiv
  .savedGraphsWrapper
  .savedGraphs
  .graphRecord
  .savedGraph:hover {
  background: linear-gradient(
    90deg,
    rgba(83, 9, 121, 0.2763306006) 0%,
    rgba(74, 0, 255, 0.2875350824) 100%
  );
}
.Navbar .savedGraphsDiv .savedGraphsWrapper .savedGraphs .graphRecord .delete {
  color: white;
  border: 1px solid #252a30;
  border-radius: 0.3rem;
  margin: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  background: rgb(233, 37, 43);
  background: linear-gradient(
    261deg,
    rgba(233, 37, 43, 0.8589636538209033) 51%,
    rgba(235, 35, 98, 0.7413165949973739) 100%
  );
}
.Navbar
  .savedGraphsDiv
  .savedGraphsWrapper
  .savedGraphs
  .graphRecord
  .delete:hover {
  background: rgb(255, 41, 48);
  background: linear-gradient(
    261deg,
    rgba(255, 41, 48, 0.8589636538209033) 51%,
    rgba(255, 31, 101, 0.7413165949973739) 100%
  );
}
.Navbar .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.6rem;
}
.Navbar .footer .footerLink {
  text-decoration: none;
  color: rgb(160, 98, 173);
  font-size: 0.9rem;
}
.Navbar .footer .footerLink:hover {
  text-decoration: underline;
}

.icon {
  margin-left: 0.3rem;
}

#instantAnimation {
  color: #848d97;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}

.unclickable {
  pointer-events: none;
  background: rgba(255, 255, 255, 0.288);
}

#learnMore {
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .Navbar {
    margin: 0 0.6rem 0;
    display: grid;
    overflow: auto;
    grid-template-columns: repeat(1fr, 10);
    grid-template-rows: repeat(1fr, 10);
    padding: 0.1rem;
  }
  .Navbar button {
    margin: 2px;
  }
  .randomGraphDiv {
    grid-column: 1/5;
    grid-row: 1/3;
    padding: 0.1rem;
  }
  .runDiv {
    grid-column: 5/10;
    grid-row: 1/3;
    padding: 0.1rem;
  }
  #clearCanvas {
    grid-column: 1/2;
    grid-row: 3/9;
  }
  #learnMore {
    grid-column: 2/3;
    grid-row: 3/9;
  }
  .savedGraphsDiv {
    grid-column: 3/10;
    grid-row: 3/9;
    padding: 0.1rem;
  }
  .footer {
    grid-column: 1/10;
    grid-row: 9/10;
    padding: 0.1rem;
  }
} /*# sourceMappingURL=Navbar.module.css.map */
