@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
.indicator {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #161b22;
  border: 1px solid #252a30;
  color: #848d97;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 0.6rem;
}

@media screen and (max-width: 600px) {
  .indicator {
    font-size: 1.1rem;
  }
}
